body {
  overflow-x: hidden; }

.bg-light {
  background-color: #fff !important; }

.bg-dark {
  /* background: linear-gradient(to top, rgba(64,96,183,0.8), 70%, rgba(87,184,148,0.8) 95%)!important; */
  background: linear-gradient(to top, rgba(119, 139, 196, 0.8), 70%, rgba(131, 207, 179, 0.8) 95%)!important;
}

.pb_icon-gradient:before {
  background: #665fee;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent; }

/*.pb_slant-light,
.pb_slant-white {
  position: relative; }
  .pb_slant-light:after,
  .pb_slant-white:after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #fff;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10; }
  .pb_slant-light.pb_slant-reverse:after,
  .pb_slant-white.pb_slant-reverse:after {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    left: -100px;
    bottom: -140px; }*/

.pb_slant-white:after {
  background-color: #fff; }

.pb_section {
  padding: 80px 0px 60px 0px!important;}

.pb_section-app {
  padding: 80px 0;}  

.pb_section-key {
  padding: 80px 0px 20px 0px;
}  

.pb_cover_v3 a, .pb_xl_py_cover a {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  background-color: transparent;
}

  .pb_cover_v3 a:hover, .pb_xl_py_cover a:hover {
    color: white;
    background-color: #47d8a2;
    border: 1px solid #47d8a2;
    }

.pb_cover_v3 .btn, .pb_xl_py_cover .btn {
  color: white; }
