.mouse-wrap, .scroll-wrap {
  position: absolute;
  bottom: 50px;
  z-index: 3;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
}
.mouse-wrap.left, .scroll-wrap.left {
  left: 30px;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); 
}

.subtitle {
  padding: 0px 30px 0px 30px;
}

.sub_heading {
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.newsletter.text-center {
  padding-top: 10px;
}
img.svg-img {
  height: 100px;
  width: 90px;
}
img.svg-user {
  height: 100px;
  width: 100px;
}


.user-img {
  padding: 20px 0px;
  transition: transform .2s;
  margin: 0 auto;
  cursor: pointer;
}

.user-img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.feature-text {
    font-size: 15px;
    padding: 0px 0px 40px 0px;
}

.feature-subtitle {
    font-size: 15px;
    padding: 0px 0px 40px 0px;
    color: #fff;
}
.signup-text {
    font-size: 15px;
    padding: 0px 0px 40px 0px;
}
h2.services {
  font-size: 35px;
  color: #1c6bc3;
  padding-bottom: 5px;
  font-weight: 600!important;
}

h2.services-key {
  font-size: 35px;
  color: #fff;
  padding-top: 5px;
  font-weight: 600!important;
}
.pb_feature-v1 .media-body, .pb_feature-v2 .media-body {
  font-family: "open sans", sans-serif!important;
  color: #868e96!important;
}
.box {
  background-color: #fff;
  padding: 25px 10px 30px 15px;
  border-radius: 8px;
  border: 2px solid #f1f1f1;
  margin-bottom: 20px;
}

.mz-5{
  margin: 10px 0!important;
}
.box:hover {
  background-color: #fff;
  padding: 25px 10px 30px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 2px solid #f1f1f1;
  box-shadow: 5px 7px 8px -7px rgba(0,0,0,.3);
}
h3.mb-2.heading {
  color: #1c6bc3;
  font-weight: 500!important;
  line-height: 23px!important;
  font-size: 20px;
}
.app {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 17px;
  min-height: 100px;
  border: 1px solid #f1f1f1;
  transition: .5s;
  transform: scale(1.03);
  box-shadow: 5px 7px 8px -7px rgba(0,0,0,.3);
}

.app:hover {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 17px;
  min-height: 100px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  -webkit-transform: scale(1.03);
  transform: scale(1.10);
}
.box-2 {
  background-color: #fff;
  padding: 25px 10px 30px 15px;
  border-radius: 8px;
  margin-top: 20px;
  border: 2px solid #f1f1f1;
  margin-bottom: 65px
}
.box-2:hover {
  background-color: #ffffff;
  padding: 25px 10px 30px 15px;
  border-radius: 8px;
  margin-top: 20px;
  border: 2px solid #f1f1f1;
  box-shadow: 5px 7px 8px -7px rgba(0,0,0,.3);
  margin-bottom: 65px;
  cursor:pointer;
}
.blacks {
    color: #444;
    font-size: 16px;
    padding: 20px 0px;
}
.black-light {
    color: #fff;
    font-size: 16px;
    padding: 20px 0px;
}
p.card-number {
  float: right;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.4;
  margin-top: -5px;
  padding-right: 10px;
  color: #45d9a3;
}
p.services-text {
    font-size: 14px;
}
.col-md-3.col-xs-9.boxed {
    margin-top: -53px;
}
h5.service-box {
    font-size: 15px;
    padding-top: 20px;
    font-weight: 600!important;
}

.mouse {
  width: 30px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #212529;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 20px); }

.mouse:before, .mouse:after {
  content: "";
  display: block;
  position: absolute; }

/* Second */
.m-1:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 10px;
  left: calc(50% - 3px);
  background: #212529;
  -webkit-animation: m-1-ball 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: m-1-ball 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }

@-webkit-keyframes m-1-ball {
  0%, 65%, 100% {
    opacity: 0; }
  10%, 40% {
    opacity: 1; }
  0% {
    -webkit-transform: translateY(5px) scale(0.7);
    transform: translateY(5px) scale(0.7); }
  5% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  15%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  45%, 65% {
    -webkit-transform: translateY(24px) scale(0.7);
    transform: translateY(24px) scale(0.7); } }

@keyframes m-1-ball {
  0%, 65%, 100% {
    opacity: 0; }
  10%, 40% {
    opacity: 1; }
  0% {
    -webkit-transform: translateY(5px) scale(0.7);
    transform: translateY(5px) scale(0.7); }
  5% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  15%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  45%, 65% {
    -webkit-transform: translateY(24px) scale(0.7);
    transform: translateY(24px) scale(0.7); } }

.scroll-wrap {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
  bottom: 50px;
  opacity: 1;
  visibility: visible; }
  .scroll-wrap.sleep {
    bottom: 0;
    opacity: 0;
    visibility: hidden; }

.testimonial_v1 img {
  height: 80px; }

.testimonial_v1 .heading {
  color: #495057;
  font-size: 18px; }

.testimonial_v1 .subheading {
  color: rgba(0, 0, 0, 0.4); }

.testimonial_v1 blockquote {
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  line-height: 1.7;
  color: #495057; }

.testimonial_v1.pb_quote_v1 .media-body {
  position: relative;
  margin-top: 40px; }

.testimonial_v1.pb_quote_v1 .quote {
  font-size: 100px;
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  color: #adb5bd;
  line-height: 0;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.testimonial_v1.pb_quote_v2 .media-body {
  position: relative; }

.testimonial_v1.pb_quote_v2 .quote {
  font-size: 150px;
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  color: #dee2e6;
  line-height: 0;
  top: 40px;
  position: absolute;
  left: 0%;
  z-index: -1; }

.testimonial_v2 .pb_media-header img {
  height: 70px; }

.testimonial_v2 .pb_media-header .heading {
  font-size: 18px; }

.testimonial_v2 .pb_media-header .heading, .testimonial_v2 .pb_media-header .subheading {
  display: block;
  margin-bottom: 0; }

.testimonial_v2 blockquote {
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.7;
  color: #495057; }

.pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 1; }
  .pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide blockquote {
    margin-bottom: 40px; }
  .pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide img {
    height: 170px; }
  .pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide .heading {
    font-size: 18px;
    margin-bottom: 0; }
  .pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide .subheading {
    font-size: 16px; }

.pb_slide_testimonial_sync_v1 .pb_slider_nav {
  width: 250px;
  margin: 0 auto; }
  .pb_slide_testimonial_sync_v1 .pb_slider_nav .author {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 10px;
    -webkit-transition: .3s all ease-in;
    -o-transition: .3s all ease-in;
    transition: .3s all ease-in; }
    .pb_slide_testimonial_sync_v1 .pb_slider_nav .author.slick-current {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }

.pb_pricing_v1 {
  margin-bottom: 50px; }
  .pb_pricing_v1 .price {
    font-size: 50px;
    color: #1d82ff; }
    .pb_pricing_v1 .price sup {
      font-size: 20px;
      top: -1em; }
    .pb_pricing_v1 .price span {
      font-size: 20px;
      color: #adb5bd; }

.pb_feature-v1,
.pb_feature-v2 {
  margin-bottom: 30px;
  /* circle with border */ }
  .pb_feature-v1 .pb_icon i,
  .pb_feature-v2 .pb_icon i {
    font-size: 70px; }
  .pb_feature-v1 .media-body,
  .pb_feature-v2 .media-body {
    font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #868e96; }
    .pb_feature-v1 .media-body .heading,
    .pb_feature-v2 .media-body .heading {
      font-size: 20px;
      font-family: "Open sans", sans-serif; }
  .pb_feature-v1.pb_feature-circle,
  .pb_feature-v2.pb_feature-circle {
    /* circle with background color */ }
    .pb_feature-v1.pb_feature-circle .pb_icon,
    .pb_feature-v2.pb_feature-circle .pb_icon {
      line-height: 0;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      position: relative;
      border: 1px solid #dee2e6;
      margin-bottom: 30px; }
      .pb_feature-v1.pb_feature-circle .pb_icon i,
      .pb_feature-v2.pb_feature-circle .pb_icon i {
        line-height: 0;
        font-size: 45px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
    .pb_feature-v1.pb_feature-circle.pb_feature-colored .pb_icon,
    .pb_feature-v2.pb_feature-circle.pb_feature-colored .pb_icon {
      border: none;
      background: #1d82ff; }
      .pb_feature-v1.pb_feature-circle.pb_feature-colored .pb_icon i,
      .pb_feature-v2.pb_feature-circle.pb_feature-colored .pb_icon i {
        color: #fff; }

.pb_feature-v2 .pb_icon {
  line-height: 0;
  position: relative;
  text-align: center; }
  .pb_feature-v2 .pb_icon i {
    font-size: 36px;
    margin: 0 auto; }

.pb_list_v1 li {
  margin-bottom: 7px; }
  .pb_list_v1 li span {
    line-height: 0;
    margin-right: 7px;
    color: #1d82ff; }
    .pb_list_v1 li span i {
      line-height: 0; }
      .pb_list_v1 li span i:before {
        line-height: 0; }

.pb_team_v1 {
  margin-bottom: 50px; }
  @media (max-width: 991px) {
    .pb_team_v1 {
      text-align: center; } }
  .pb_team_v1 img {
    height: 200px; }
    @media (max-width: 991px) {
      .pb_team_v1 img {
        margin: 0 auto; } }
  .pb_team_v1 .heading {
    color: #000;
    font-size: 24px; }
  .pb_team_v1 .subheading {
    color: #adb5bd; }

.pb_sm_py_cover,
.pb_md_py_cover,
.pb_lg_py_cover,
.pb_xl_py_cover {
  position: relative;
  padding: 6em 0; }
  @media (max-width: 767px) {
    .pb_sm_py_cover,
    .pb_md_py_cover,
    .pb_lg_py_cover,
    .pb_xl_py_cover {
      height: inherit;
      text-align: center !important;
      padding: 6em 0; } }
  .pb_sm_py_cover > .container,
  .pb_md_py_cover > .container,
  .pb_lg_py_cover > .container,
  .pb_xl_py_cover > .container {
    position: relative; }
    .pb_sm_py_cover > .container > .row,
    .pb_md_py_cover > .container > .row,
    .pb_lg_py_cover > .container > .row,
    .pb_xl_py_cover > .container > .row {
      padding: 6em 0; }
      @media (max-width: 767px) {
        .pb_sm_py_cover > .container > .row,
        .pb_md_py_cover > .container > .row,
        .pb_lg_py_cover > .container > .row,
        .pb_xl_py_cover > .container > .row {
          height: inherit;
          padding: 6em 0; } }
  .pb_sm_py_cover .heading,
  .pb_md_py_cover .heading,
  .pb_lg_py_cover .heading,
  .pb_xl_py_cover .heading {
    font-size: 62px;
    color: white;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px; }
    @media (max-width: 767px) {
      .pb_sm_py_cover .heading,
      .pb_md_py_cover .heading,
      .pb_lg_py_cover .heading,
      .pb_xl_py_cover .heading {
        font-size: 42px; } }
  .pb_sm_py_cover .sub-heading,
  .pb_md_py_cover .sub-heading,
  .pb_lg_py_cover .sub-heading,
  .pb_xl_py_cover .sub-heading {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
    float: left; }
  .pb_sm_py_cover.text-center .sub-heading,
  .pb_md_py_cover.text-center .sub-heading,
  .pb_lg_py_cover.text-center .sub-heading,
  .pb_xl_py_cover.text-center .sub-heading {
    margin: 0 auto;
    float: none; }
  .pb_sm_py_cover.text-right .sub-heading,
  .pb_md_py_cover.text-right .sub-heading,
  .pb_lg_py_cover.text-right .sub-heading,
  .pb_xl_py_cover.text-right .sub-heading {
    float: right; }
  .pb_sm_py_cover.text-left .sub-heading,
  .pb_md_py_cover.text-left .sub-heading,
  .pb_lg_py_cover.text-left .sub-heading,
  .pb_xl_py_cover.text-left .sub-heading {
    float: left; }

.pb_sm_py_cover {
  padding: 3em 0; }
  @media (max-width: 767px) {
    .pb_sm_py_cover {
      height: inherit;
      text-align: center !important;
      padding: 3em 0; } }
  .pb_sm_py_cover > .container {
    position: relative; }
    .pb_sm_py_cover > .container > .row {
      padding: 3em 0; }
      @media (max-width: 767px) {
        .pb_sm_py_cover > .container > .row {
          height: inherit;
          padding: 3em 0; } }

.pb_lg_py_cover {
  padding: 8em 0; }
  @media (max-width: 767px) {
    .pb_lg_py_cover {
      height: inherit;
      text-align: center !important;
      padding: 8em 0; } }
  .pb_lg_py_cover > .container {
    position: relative; }
    .pb_lg_py_cover > .container > .row {
      padding: 4em 0; }
      @media (max-width: 767px) {
        .pb_lg_py_cover > .container > .row {
          height: inherit;
          padding: 4em 0; } }

.pb_xl_py_cover {
  padding: 10em 0; }
  @media (max-width: 767px) {
    .pb_xl_py_cover {
      height: inherit;
      text-align: center !important;
      padding: 10em 0; } }
  .pb_xl_py_cover > .container {
    position: relative; }
    .pb_xl_py_cover > .container > .row {
      padding: 7em 0; }
      @media (max-width: 767px) {
        .pb_xl_py_cover > .container > .row {
          height: inherit;
          padding: 7em 0; } }

.pb_cover,
.pb_cover_v1,
.pb_cover_v2,
.pb_cover_v3,
.pb_cover_v4 {
  position: relative;
  height: 85vh;
  /* margin-top: -7%; */
 }
  @media (max-width: 767px) {
    .pb_cover,
    .pb_cover_v1,
    .pb_cover_v2,
    .pb_cover_v3,
    .pb_cover_v4 {
      height: inherit;
      text-align: center !important;
      padding: 6em 0; } }
  .pb_cover > .container,
  .pb_cover_v1 > .container,
  .pb_cover_v2 > .container,
  .pb_cover_v3 > .container,
  .pb_cover_v4 > .container {
    position: relative; }
    .pb_cover > .container > .row,
    .pb_cover_v1 > .container > .row,
    .pb_cover_v2 > .container > .row,
    .pb_cover_v3 > .container > .row,
    .pb_cover_v4 > .container > .row {
      height: 100vh; }
      @media (max-width: 767px) {
        .pb_cover > .container > .row,
        .pb_cover_v1 > .container > .row,
        .pb_cover_v2 > .container > .row,
        .pb_cover_v3 > .container > .row,
        .pb_cover_v4 > .container > .row {
          height: inherit;
          padding: 6em 0; } }
  .pb_cover .play,
  .pb_cover_v1 .play,
  .pb_cover_v2 .play,
  .pb_cover_v3 .play,
  .pb_cover_v4 .play {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: white;
    -webkit-transition: .25s all ease-out;
    -o-transition: .25s all ease-out;
    transition: .25s all ease-out; }
    .pb_cover .play:hover,
    .pb_cover_v1 .play:hover,
    .pb_cover_v2 .play:hover,
    .pb_cover_v3 .play:hover,
    .pb_cover_v4 .play:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      border: 2px solid white; }
    .pb_cover .play:active, .pb_cover .play:focus,
    .pb_cover_v1 .play:active,
    .pb_cover_v1 .play:focus,
    .pb_cover_v2 .play:active,
    .pb_cover_v2 .play:focus,
    .pb_cover_v3 .play:active,
    .pb_cover_v3 .play:focus,
    .pb_cover_v4 .play:active,
    .pb_cover_v4 .play:focus {
      outline: none; }
    .pb_cover .play i,
    .pb_cover_v1 .play i,
    .pb_cover_v2 .play i,
    .pb_cover_v3 .play i,
    .pb_cover_v4 .play i {
      font-size: 50px;
      position: absolute;
      top: 50%;
      left: 55%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  .pb_cover .heading,
  .pb_cover_v1 .heading,
  .pb_cover_v2 .heading,
  .pb_cover_v3 .heading,
  .pb_cover_v4 .heading {
    font-size: 45px;
    line-height: 50px;
    color: white;
    font-weight: 600!important;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px; }
    @media (max-width: 767px) {
      .pb_cover .heading,
      .pb_cover_v1 .heading,
      .pb_cover_v2 .heading,
      .pb_cover_v3 .heading,
      .pb_cover_v4 .heading {
        font-size: 29px; } }
  .pb_cover .sub-heading,
  .pb_cover_v1 .sub-heading,
  .pb_cover_v2 .sub-heading,
  .pb_cover_v3 .sub-heading,
  .pb_cover_v4 .sub-heading {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
    float: left; }
  .pb_cover.text-center .sub-heading,
  .pb_cover_v1.text-center .sub-heading,
  .pb_cover_v2.text-center .sub-heading,
  .pb_cover_v3.text-center .sub-heading,
  .pb_cover_v4.text-center .sub-heading {
    margin: 0 auto;
    float: none; }
  .pb_cover.text-right .sub-heading,
  .pb_cover_v1.text-right .sub-heading,
  .pb_cover_v2.text-right .sub-heading,
  .pb_cover_v3.text-right .sub-heading,
  .pb_cover_v4.text-right .sub-heading {
    float: right; }
  .pb_cover.text-left .sub-heading,
  .pb_cover_v1.text-left .sub-heading,
  .pb_cover_v2.text-left .sub-heading,
  .pb_cover_v3.text-left .sub-heading,
  .pb_cover_v4.text-left .sub-heading {
    float: left; }

.pb_cover_v3 .device-1 {
  margin-top: -40%;
  max-width: 400px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media (max-width: 991px) {
    .pb_cover_v3 .device-1 {
      max-width: 100%; } }
  @media (max-width: 767px) {
    .pb_cover_v3 .device-1 {
      max-width: 100%;
      position: relative;
      margin-top: 10%;
      margin-bottom: -100%; } }

.pb_cover_v3 .device-2 {
  position: absolute;
  max-width: 400px;
  left: 50%;
  margin-top: -25%; }
  @media (max-width: 991px) {
    .pb_cover_v3 .device-2 {
      max-width: 100%; } }
  @media (max-width: 767px) {
    .pb_cover_v3 .device-2 {
      max-width: 100%;
      position: absolute;
      margin-top: 30%;
      margin-bottom: -100%; } }

.pb_cover_v3 .device-3 {
  z-index: 3; }

.pb_cover_v4 {
  height: inherit;
  padding-bottom: 15em; }
  .pb_cover_v4 .devices {
    margin-top: -12%; }
    @media (max-width: 991px) {
      .pb_cover_v4 .devices {
        margin-top: 35%; } }
  .pb_cover_v4 .device-2,
  .pb_cover_v4 .device-3 {
    position: absolute;
    max-width: 400px;
    z-index: 1; }
  .pb_cover_v4 .device-2 {
    left: 0; }
    @media (max-width: 767px) {
      .pb_cover_v4 .device-2 {
        left: -20%; } }
  .pb_cover_v4 .device-3 {
    right: 0; }
    @media (max-width: 767px) {
      .pb_cover_v4 .device-3 {
        right: -20%; } }
  .pb_cover_v4 .device-1 {
    z-index: 2;
    max-width: 500px;
    left: 50%;
    margin-top: -100px;
    margin-bottom: 200px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (max-width: 767px) {
      .pb_cover_v4 .device-1 {
        max-width: 300px; } }

.cover-bg-black,
.cover-bg-white,
.cover-bg-blue,
.cover-bg-indigo,
.cover-bg-purple,
.cover-bg-pink,
.cover-bg-red,
.cover-bg-orange,
.cover-bg-yellow,
.cover-bg-green,
.cover-bg-cyan {
  position: relative; }
  .cover-bg-black:before,
  .cover-bg-white:before,
  .cover-bg-blue:before,
  .cover-bg-indigo:before,
  .cover-bg-purple:before,
  .cover-bg-pink:before,
  .cover-bg-red:before,
  .cover-bg-orange:before,
  .cover-bg-yellow:before,
  .cover-bg-green:before,
  .cover-bg-cyan:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ""; }

.cover-bg-opacity:before {
  opacity: 1; }

.cover-bg-opacity-1:before {
  opacity: .1; }

.cover-bg-opacity-2:before {
  opacity: .2; }

.cover-bg-opacity-3:before {
  opacity: .3; }

.cover-bg-opacity-4:before {
  opacity: .4; }

.cover-bg-opacity-5:before {
  opacity: .5; }

.cover-bg-opacity-6:before {
  opacity: .6; }

.cover-bg-opacity-7:before {
  opacity: .7; }

.cover-bg-opacity-8:before {
  opacity: .8; }

.cover-bg-opacity-9:before {
  opacity: .9; }

.cover-bg-black:before {
  background: black; }

.cover-bg-white:before {
  background: white; }

.cover-bg-blue:before {
  background: #1d82ff; }

.cover-bg-indigo:before {
  background: #4e3188; }

.cover-bg-purple:before {
  background: #715cb0; }

.cover-bg-pink:before {
  background: #ff5b9c; }

.cover-bg-red:before {
  background: #ee0427; }

.cover-bg-orange:before {
  background: #ef6c35; }

.cover-bg-yellow:before {
  background: #ffd500; }

.cover-bg-green:before {
  background: #00ca4c; }

.cover-bg-cyan:before {
  background: #a5e9db; }

.pb_gradient_v1:before {
  /* background-image: url("/assests/images/index-hero.svg"); */
  /* Old browsers
  background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#665fee', endColorstr='#27c2de',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
*/
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); }

.pb_form_v1 {
  padding: 50px;
  -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75); }
  @media (max-width: 991px) {
    .pb_form_v1 {
      padding: 30px; } }

input, select, textarea {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7); }

.pb_select-wrap {
  position: relative; }
  .pb_select-wrap:before {
    font-family: 'Ionicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f3d0";
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 26px; }
  .pb_select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

.form-control.reverse {
  background: #f2f2f2;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border-color: #f2f2f2; }
  .form-control.reverse:focus, .form-control.reverse:active {
    background: none;
    border-color: #1d82ff !important; }

.form-control-outline {
  background: none; }
  .form-control-outline:focus, .form-control-outline:active {
    background: none; }
  .form-control-outline.light {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.4); }
    .form-control-outline.light:focus, .form-control-outline.light:active {
      border-color: white; }
    .form-control-outline.light::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .form-control-outline.light:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .form-control-outline.light::placeholder {
      color: rgba(255, 255, 255, 0.5); }
  .form-control-outline.dark {
    color: #868e96; }

.btn:focus, .btn:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important; }

.btn-shadow-blue {
  -webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
  -moz-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
  box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45); }

.pb_btn-pill {
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px; }

.pb_outline-light {
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  background: none;
  color: white; }
  .pb_outline-light:hover, .pb_outline-light:active, .pb_outline-light:focus {
    outline: none;
    background: #fff !important;
    border: 1px solid white;
    color: #000; }

.pb_outline-dark {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: black;
  background: none; }
  .pb_outline-dark:hover, .pb_outline-dark:active, .pb_outline-dark:focus {
    outline: none;
    background: #000 !important;
    border: 1px solid black;
    color: #fff; }

.pb_signle-item {
  margin-bottom: 50px;
  float: left;
  width: 100%; }
  .pb_signle-item img {
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    position: relative;
    top: 0; }
  .pb_signle-item:focus img, .pb_signle-item:hover img {
    top: -20px; }

.pb_thumbnail_v1 {
  display: block;
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .pb_thumbnail_v1 .pb_media {
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    bottom: 0px; }
    .pb_thumbnail_v1 .pb_media:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 2; }
    .pb_thumbnail_v1 .pb_media .pb_img-wrap {
      overflow: hidden; }
      .pb_thumbnail_v1 .pb_media .pb_img-wrap img {
        position: relative;
        -webkit-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease;
        -webkit-transform: scale(1.09);
        -ms-transform: scale(1.09);
        transform: scale(1.09); }
    .pb_thumbnail_v1 .pb_media .btn {
      position: absolute;
      width: 100%; }
  .pb_thumbnail_v1 .text {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    left: 20px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .pb_thumbnail_v1 .text .heading {
      color: #fff;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 26px; }
    .pb_thumbnail_v1 .text p {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.7); }
  .pb_thumbnail_v1:hover .text, .pb_thumbnail_v1:focus .text {
    bottom: 65px; }
  .pb_thumbnail_v1:hover .pb_media, .pb_thumbnail_v1:focus .pb_media {
    bottom: 54px; }
    .pb_thumbnail_v1:hover .pb_media .pb_img-wrap img, .pb_thumbnail_v1:focus .pb_media .pb_img-wrap img {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }

.pb_blog_v1 {
  float: left;
  width: 100%; }
  .pb_blog_v1 .card-title {
    font-size: 30px; }
  .pb_blog_v1 .card-meta {
    font-size: 14px;
    color: #ced4da; }
    .pb_blog_v1 .card-meta a {
      color: #ced4da; }
      .pb_blog_v1 .card-meta a:hover, .pb_blog_v1 .card-meta a:focus, .pb_blog_v1 .card-meta a:active {
        color: #212529; }

.pb_cards > .card {
  border-radius: 0;
  padding: 30px; }
  @media (max-width: 991px) {
    .pb_cards > .card {
      padding: 15px; } }

#pb_loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#pb_loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#pb_loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#pb_loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#pb_loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

html {
  overflow-x: hidden;
  font-size: 1em;
  scroll-behavior: smooth;
   }

body {
  font-family: "Open sans",sans-serif; }

input, textarea, p {
  font-weight: 400; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

::-moz-selection {
  background: #000;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.bg_image, .pb_sm_py_cover,
.pb_md_py_cover,
.pb_lg_py_cover,
.pb_xl_py_cover, .pb_cover,
.pb_cover_v1,
.pb_cover_v2,
.pb_cover_v3,
.pb_cover_v4, .pb_slide_v2 .slide_content > .pb_content-media {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.with-overlay {
  position: relative; }
  .with-overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.4); }


.pb_navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-family: "Open sans", sans-serif; }
  .pb_navbar.navbar-toggler:active, .pb_navbar.navbar-toggler:focus {
    outline: none; }
  .pb_navbar > .container {
    position: relative; }
  .pb_navbar.navbar-toggler {
    border: none;
    color: white;
    border-color: white;
    cursor: pointer;
    padding-right: 0; }
    .pb_navbar.navbar-toggler i {
      font-size: 30px; }
  .pb_navbar ul > li > a {
    color: white !important; }
    .pb_navbar ul > li > a.active {
      color: white !important; }
  .pb_navbar ul > li.cta-btn > a > span {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5); }

  .pb_navbar ul > li.cta-btn > a > span:hover {
    padding: 10px;
    border: 1px solid #45d9a3;
    background-color: #45d9a3;
     }
  .pb_navbar .nav-link {
    font-size: 15px;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
    @media (max-width: 1199px) {
      .pb_navbar .nav-link {
        padding-top: .5rem;
        padding-bottom: .5rem; } }
    @media (max-width: 991px) {
      .pb_navbar .nav-link {
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    @media (max-width: 767px) {
      .pb_navbar .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important; } }
  @media (max-width: 991px) {
    .pb_navbar .navbar-nav {
      background: rgba(0, 0, 0, 0.8);
      border-radius: 0px;
      padding-bottom: 10px !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important; } }
  .pb_navbar.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px; }
    @media (max-width: 991px) {
      .pb_navbar.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    @media (max-width: 767px) {
      .pb_navbar.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } }
    .pb_navbar.scrolled .navbar-toggler {
      border: none;
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      padding-right: 0; }
    .pb_navbar.scrolled .nav-link {
      padding-top: .5rem;
      padding-bottom: .5rem; }
    .pb_navbar.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .pb_navbar.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .pb_navbar.scrolled.pb_scrolled-light {
      background: rgba(255,255,255,0.95)!important;
      -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15); }
      .pb_navbar.scrolled.pb_scrolled-light .navbar-brand {
        color: #1d82ff; }
      @media (max-width: 991px) {
        .pb_navbar.scrolled.pb_scrolled-light .navbar-nav {
          background: none;
          border-radius: 0px;
          padding-left: 0rem !important;
          padding-right: 0rem !important; } }
      .pb_navbar.scrolled.pb_scrolled-light ul li a {
        color: #212529 !important; }
        .pb_navbar.scrolled.pb_scrolled-light ul li a:hover, .pb_navbar.scrolled.pb_scrolled-light ul li a:active, .pb_navbar.scrolled.pb_scrolled-light ul li a:focus {
          color: #868e96 !important; }
        .pb_navbar.scrolled.pb_scrolled-light ul li a.active {
          color: #1d82ff !important; }
      .pb_navbar.scrolled.pb_scrolled-light ul li.cta-btn > a > span {
        border: none;
        background: #45d9a3;
        color: #fff; }

.pb_offcanvas-nav_v1 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #000;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .pb_offcanvas-nav_v1.active {
    opacity: 1;
    visibility: visible; }
  .pb_offcanvas-nav_v1 .pb_main-nav {
    padding-top: 50px;
    padding-right: 50px;
    float: right;
    text-align: right;
    font-size: 30px;
    height: 100vh;
    overflow-y: auto; }
    .pb_offcanvas-nav_v1 .pb_main-nav li {
      list-style: none;
      line-height: 1.5;
      margin-bottom: 10px; }
      .pb_offcanvas-nav_v1 .pb_main-nav li a {
        color: #fff; }
        .pb_offcanvas-nav_v1 .pb_main-nav li a.active {
          text-decoration: underline; }

.pb_offcanvas-header_v1 {
  padding-top: 40px;
  z-index: 2;
  position: absolute;
  width: 100%; }
  .pb_offcanvas-header_v1 > .container {
    position: relative; }
  .pb_offcanvas-header_v1 .pb_site-name {
    position: absolute;
    left: 15px; }
  .pb_offcanvas-header_v1 .pb_toggle-menu {
    position: absolute;
    right: 0px;
    top: 17px; }
    @media (max-width: 767px) {
      .pb_offcanvas-header_v1 .pb_toggle-menu {
        top: 13px; } }

#pb_nav-toggle {
  background: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }
  #pb_nav-toggle:hover span:after {
    width: 32px; 
}

.navbar{
   padding: 5px 5px!important;
}
#pb_nav-toggle span,
#pb_nav-toggle span:before,
#pb_nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 32px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  content: ''; }

#pb_nav-toggle span:before {
  top: -10px; }

#pb_nav-toggle span:after {
  top: 10px;
  width: 16px; }

#pb_nav-toggle span,
#pb_nav-toggle span:before,
#pb_nav-toggle span:after {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#pb_nav-toggle.active span {
  background-color: transparent; }

#pb_nav-toggle.active span:before,
#pb_nav-toggle.active span:after {
  top: 0; }

#pb_nav-toggle.active span:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

#pb_nav-toggle.active span:after {
  width: 32px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.heading-border-top {
  position: relative;
  padding-top: 30px; }
  .heading-border-top:before {
    position: absolute;
    top: 0;
    height: 2px;
    width: 50px;
    content: "";
    background: #1d82ff; }
  .heading-border-top.light:before {
    background: rgba(255, 255, 255, 0.7) !important; }

.text-center .heading-border-top:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.text-center .heading-border-top.light:before {
  background: rgba(255, 255, 255, 0.7) !important; }

.pb_section {
  padding: 9em 0;
  position: relative;
  display: block; }
  @media (max-width: 991px) {
    .pb_section {
      padding: 4em 0; } }
  .pb_section.pb_bg-half:before {
    top: 50%;
    content: "";
    background: #f8f9fa;
    bottom: 0%;
    width: 100%;
    left: 0;
    position: absolute; }

.images {
  position: relative; }
  .images .img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5); }
    @media (max-width: 767px) {
      .images .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%; } }
  .images.right .img1 {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5); }
  .images.right .img2 {
    position: absolute;
    top: 50%;
    left: -40%;
    z-index: 1;
    max-width: 500px; }
    @media (max-width: 767px) {
      .images.right .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%; } }

@media (max-width: 767px) {
  .pb_testimonial_v1 .media {
    display: block !important; } }



.pb_half {
  width: 50%;
  float: left; }
  @media (max-width: 991px) {
    .pb_half {
      width: 100%;
      float: none; }
      .pb_half#map {
        height: 300px; } }

.pb_accordion .item > a {
  display: block;
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0;
  position: relative;
  color: #495057; }
  .pb_accordion .item > a:after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Ionicons';
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f2c7"; }
  .pb_accordion .item > a[aria-expanded="true"] {
    color: #1d82ff;
    border-bottom: 1px solid transparent; }
    .pb_accordion .item > a[aria-expanded="true"]:after {
      content: "\f2f4"; }

.pb_accordion .item > div *:last-child {
  margin-bottom: 0; }

.pb_contact_details_v1 {
  margin: 0;
  padding: 0; }
  .pb_contact_details_v1 li {
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;
    color: #212529; }
    .pb_contact_details_v1 li span {
      display: block;
      font-size: 14px;
      color: #adb5bd; }

.pb_media_v1 > .icon,
.pb_media_v2 > .icon {
  width: 80px;
  height: 80px;
  position: relative; }
  .pb_media_v1 > .icon i,
  .pb_media_v2 > .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }
    .pb_media_v1 > .icon i.flaticon,
    .pb_media_v2 > .icon i.flaticon {
      top: 48%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
      .pb_media_v1 > .icon i.flaticon:before,
      .pb_media_v2 > .icon i.flaticon:before {
        font-size: 46px;
        margin: 0;
        padding: 0; }

.pb_media_v1 h3,
.pb_media_v2 h3 {
  color: #212529; }

.pb_icon_v1 i.flaticon:before {
  font-size: 80px;
  margin: 0;
  padding: 0; }

.pb_slide_v1 .link-block {
  display: block;
  position: relative;
  color: #A5E9DB; }
  .pb_slide_v1 .link-block:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.05); }
  .pb_slide_v1 .link-block .slide-text {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 20px; }
    .pb_slide_v1 .link-block .slide-text h2 {
      font-size: 24px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 0; }
    .pb_slide_v1 .link-block .slide-text *:last-child {
      margin-bottom: 0; }

.pb_slide_v2 .slick-slide {
  padding: 10px;
  position: relative; }

.pb_slide_v2.slider-nav .slick-slide {
  margin: 10px;
  padding: 0;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
  border: 2px solid transparent; }
  .pb_slide_v2.slider-nav .slick-slide .pb_card_v2 {
    background: none; }
  .pb_slide_v2.slider-nav .slick-slide.slick-current .pb_card_v2 {
    background: none; }
  .pb_slide_v2.slider-nav .slick-slide.slick-current .icon i:before {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
    color: #00CA4C; }

.pb_slide_v2 .slide_content {
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15); }
  @media (max-width: 991px) {
    .pb_slide_v2 .slide_content > .pb_content-media {
      height: 350px; } }
  .pb_slide_v2 .slide_content > .pb_content-media, .pb_slide_v2 .slide_content .slide_content-text {
    width: 50%; }
    @media (max-width: 991px) {
      .pb_slide_v2 .slide_content > .pb_content-media, .pb_slide_v2 .slide_content .slide_content-text {
        width: 100%; } }
  .pb_slide_v2 .slide_content .slide_content-text {
    padding: 50px; }
    @media (max-width: 991px) {
      .pb_slide_v2 .slide_content .slide_content-text {
        padding: 20px; } }

@media (max-width: 991px) {
  .pb_slide_v2 .slick-arrow {
    display: none; } }

.pb_slide_v2 .slick-arrow.prev {
  left: -50px; }

.pb_slide_v2 .slick-arrow.next {
  right: -50px; }

.overflow-hidden {
  overflow: hidden; }

.fancy{
  padding-top: 15px;
  padding-bottom: 30px;
}

a.fancy-btn {
  border: 1px solid #45D9A3;
  color: #3F3F3F;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}
a.fancy-btn:hover {
  border: 1px solid #45D9A3;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
  background-color: #45D9A3;
}
a.fancy-btn-inverse {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}


a .label,
a .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}

a .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a .icon-arrow {
  fill: #3F3F3F;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}


a .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

a .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

a:hover .label {
    transform: translateX(-52px);
}

a:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

a:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

a:active {
    border-color: #FD6154;
    color: #FD6154;
}

a:active .icon-arrow {
    fill: #FD6154;
}

.howit-block {
  position: relative; }
  .howit-block:after {
    position: absolute;
    content: "";
    background: url(../images/arrow.png) no-repeat;
    width: 50px;
    height: 50px;
    right: -29px;
    top: 50%; }
    @media (max-width: 992px) {
      .howit-block:after {
        display: none; } }

.howit-block_af {
  position: relative; }
  .howit-block_af:after {
    position: absolute;
    content: "";
    background: url(../images/arrow.png) no-repeat;
    width: 50px;
    height: 50px;
    right: -29px;
    top: 50%; }
    @media (max-width: 992px) {
      .howit-block_af:after {
        display: none; } }
div#pb_faq {
    background-color: #fff;
    padding: 20px 30px 50px 30px;
    box-shadow: 5px 7px 8px -7px rgba(0,0,0,.3);
    border-radius: 10px;
}
.faq-text{
  font-size: 17px;
}
.faq-title{
  font-weight: 600;
}

input {
  border-radius: 3px;
  border: 2px solid #45d9a3!important;
}

form input,
form input:focus {
  padding: 10px 85px;
  margin-bottom: 5px;
  border: 0;
  outline: 0;
}


form input[type="submit"] {
  padding: 10px 15px;
  color: #fff;
  box-shadow: inset 0 0 0 transparent;
  transition: all .3s ease-in-out;
  background-color: #45d9a3;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  box-shadow: inset 0 0 50px rgba(255,255,255, 0.3),
                    0 0 10px rgba(255,255,255, 0.1);
  color: white;
  margin-left: 10px;
}

#footer {
  padding: 40px 0 30px 0;
  font-size: 14px;
  background: #fff;
  border-top: 1px solid #f1f1f1;
}
.footer-title{
  margin: 30px 0 0;
}
.footer-title h6 {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 25px;
  color: #413e66;
}
.footer-title ul{
  padding: 0;
  margin: 0;
}
.footer-title ul li {
  list-style: none; 
}
.footer-title ul li a {
  color: #1c6bc3;
  line-height: 1.8; 
  font-size: 14px;
  font-weight: 500;
}
.footer-text {
  color: #444;
  font-size: 14px;
}

.row.copyright {
  padding-top: 30px ;
  border-top: 1px solid #f1f1f1;
}

#footer .credits {
  text-align: left;
  font-size: 12px;
  /*padding-top: 4px;*/
  color: #444;
}

#footer .credits-right {
  text-align: right;
  font-size: 12px;
  /*padding-top: 4px;*/
  color: #444;
}
ul#social li {
  display: inline;
  margin-left: 0px;
  margin-right: 8px;
}

.social-icons {
  width: 20px;
  height: 25px;
}
@media (max-width: 991px)
{
#footer .credits-right {
  text-align: left;
  font-size: 12px;
  padding-top: 10px;
  color: #444;
}}
#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}
.legal {
    padding: 40px 0;  
    font-size: 10px;
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 630px;
    
  }
}

@media only screen and (max-width: 991px){
  .modal-dialog {
    max-width: 400px;
    
  }
}

/**/

.form-title {
  margin: -2rem 0rem 2rem;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600!important;
  color: #45d9a3;
}


.delimiter {
  padding: 1rem;  
}
.btn-form {
  color: #fff;
  background-color: #1c6bc3;
  border-color: #1c6bc3;
}
.btn-form:hover {
  color: #fff;
  background-color: #45d9a3;
  border-color: #45d9a3;
}
.title-form {
  font-size: 20px;
  font-weight: 500!important;
  color: #fff;
}

.signup-section {
  padding: 0.3rem 0rem;
}

/* .about_img {} */

.about_img img {
  width: 400px;
  border: 8px solid #f1f1f1;
  transition: .5s;
  transform: scale(1.03);
  box-shadow: 5px 7px 8px -7px rgba(0,0,0,.3);
}

.about_img img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.10);
}

/* .about_img_af::before {
  position: absolute;
  left: -31px;
  top: -50px;
  width: 90%;
  height: 92%;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
} */

/* @media (max-width: 991px)
{
  .about_img_af::before {
  position: absolute;
  left: 41px;
  top: -34px;
  width: 90%;
  height: 92%;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}
} */
.why-box {
  background-color: #fff;
  padding: 50px 20px 59px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: .5s;
  transform: scale(1.03);

}
.why-box01 {
  background-color: #fff;
  padding: 50px 20px 47px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: .5s;
  transform: scale(1.03);
}
.why-box02 {
  background-color: #fff;
  padding: 50px 20px 59px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: .5s;
  transform: scale(1.03);
}

/*.why-box:hover {
  background-color: #fff;
  padding: 50px 20px 40px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-transform: scale(1.03);
  transform: scale(1.10);
  cursor: pointer;
}
.why-box01:hover {
  background-color: #fff;
  padding: 50px 20px 59px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-transform: scale(1.03);
  transform: scale(1.10);
  cursor: pointer;
}

.why-box02:hover {
  background-color: #fff;
  padding: 50px 20px 59px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-transform: scale(1.03);
  transform: scale(1.10);
  cursor: pointer;
}*/

.why {
  font-size: 20px;
  font-weight: 600!important;
  color: #1c6bc3;
  margin-bottom: 10px;
  line-height: 35px;
}

.why-text{
  font-size: 15px;
}


.main-bg {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  padding: 50px 20px;
  background-size: cover;
  color: #fff;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/index.svg);
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  overflow: auto;
  background-color: #164854;
}
@media only screen and (max-width: 799px) {
  .main-bg {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 991px) {
  form input, form input:focus {
    padding: 12px 67px;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
  }
}



.form h1{
  text-align: center;
  margin: 20px 0 35px 0;
  color: #1c6bc3;
  text-shadow: 1px 3px rgba(255, 255, 255, 0.1);
  font-weight: 600!important;
  font-size: 23px;
}
.form {
  margin: auto;
  padding: 5px;
  max-width: 470px;
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  /*box-shadow: 0 0 20px 2px rgba(27,50,94);*/
  letter-spacing: 0.5px;
}


.form-group-reg {
  margin: 2px 2px;
  max-width: 100%;
  min-height: 68px;
  margin: 0px 0 0 0;
  padding: 0 35px;
  border-radius: 10px;
  position: relative;
}

.form-group-modal {
  margin: 2px 2px;
  max-width: 100%;
  min-height: 68px;
  margin: 0px 0 0 0;
  padding: 0 2px;
  border-radius: 10px;
  position: relative;
}
.form-group-modal input {
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  padding: 0 12px;
  font-size: 14px;
  letter-spacing: 0.25px;
  border-radius: 6px;
  border: 1.3px solid rgb(69, 217, 163);
  background-color: #e8f0fe;
  autocomplete: off;
  color: #444;
}

.form-group-reg input {
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  padding: 0 12px;
  font-size: 14px;
  letter-spacing: 0.25px;
  border-radius: 6px;
  border: 1.3px solid rgb(69, 217, 163);
  background-color: #e8f0fe;
  autocomplete: off;
  color: #444;
}

.form-group-reg input:active,
.form-group-reg input:focus {
  background-color: rgba(31,187,176, 0.2);
  outline: none;
  autocomplete: off;
  box-shadow: 0 0 2px 0 rgb(68, 216, 163);
  border: 1.5px solid rgb(68, 216, 163);
  color: #000;
}

.form-group-reg input::selection {
  background-color: rgba(31,187,176);
}

.form-group-reg label{
  pointer-events: none;
  position: absolute;
  margin: 0;
  padding: 0 2px;
  top: 9px;
  left: 47px;
  font-size: 14px;
  color: #444;
  transition: all 0.12s ease;
  font-weight: 500;
}

.form-group-reg input:focus + label,
.form-group-reg input:not(:placeholder-shown) + label{
  transform: translateY(-27px);
  font-size: 14px;
  font-weight: bold;
  color: #1c6bc3;
}



.form-group-reg input[type="submit"]{
  display: block;
  margin: 20px auto 30px;
  width: 190px;
  height: 45px;
  border-radius: 25px;
  font-size: 17px;
  border: none;
  text-transform: capitalize;
  background-color: rgba(31,187,176, 0.8);
  color: white;
  cursor: auto;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.form-group-reg input[type="submit"]:hover,
.form-group-reg input[type="submit"]:focus{
  background-color: #2991CF;
  box-shadow: 0 0 2px 0px #2991CF;
}

.form-bottom {
  text-align: center;
  margin: 15px 0;
  font-size: 12px;
  letter-spacing: 0.75px;
}

.form-bottom a{
  text-decoration: none;
  color: #1FBBB0;
}

.form-bottom a:hover,
.form-bottom a:focus{
  color: #2991CF;
  outline: none;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.logo{
  padding-bottom: 30px;
}
.form_subtext {
  padding: 0px 38px 0px 38px;
  font-size: small;
  color: red;
}
.form_subtitle {
  padding: 0px 38px 0px 38px;
  font-size: small;
  color: #444;
}
.btn-sign {
  background-color: #1c6bc3;
  padding: 5px 20px 5px 20px;
  border: 1px solid #1c6bc3;
  color: #fff;
  border-radius: 6px;
}
.btn-sign:hover {
  background-color: #57b894;
  padding: 5px 20px 5px 20px;
  border: 1px solid #57b894;
  color: #fff;
  border-radius: 6px;
}
.bottom-margin {
  margin-bottom: 30px;
  margin-top: 20px;
}

.top-margin {
  margin-bottom: 30px;
}

.sub{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}
.modal-text {
  text-align: center!important;
  color: #fff;
  margin-left: auto; 
}