<template>
  <div class="home">
    <section class="pb_cover_v3 overflow-hidden pb_slant-light" style="background-image: url('./assets/images/index-hero.svg');"  id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9">
            <h2 class="heading mb-3"><span>Powering loans for small and medium enterprises in emerging markets</span></h2>
            <div class="sub_heading">
              <p class="mb-4 subtitle">Credplus helps individuals, asset financiers, cooperatives and informal lenders to create, manage, service and monitor loans.</p>
              <p class="mb-5"><a class="btn btn-success btn-lg pb_btn-pill smoothscroll"><span class="pb_font-14 text-uppercase pb_letter-spacing-1">Get Started</span></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END banner -->
    <section class="pb_section bg-light pb_slant-white pb_pb-250">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-sm-6 col-xs-12 text-left mb-5 pr-5">
            <h2 class="services">Grow your lending business while we handle the tech</h2>
            <p>CreditPlus' Loan Management Software connects Lenders to Borrowers, manages the process seamlessly from On-boarding, Disbursement, Repayments and everything in between.</p>
            <p>Credplus is making it easier for you to give loans and collect returns within 30 minutes, all online because we understand that running a credit based business is already hard enough, from finding credible borrowers, ensuring liquidity, managing portfolio to chasing defaulters - the tenets of a core lending business can be stressful, take a step to improve your processes and grow your business faster today.</p>
            <div class="fancy">
              <a href="#" class="fancy-btn">
                <svg class="icon-arrow before">
                  <use xlink:href="#arrow"></use>
                </svg>
                <span class="label">Request Demo</span>
                <svg class="icon-arrow after">
                 <use xlink:href="#arrow"></use>
                </svg>
              </a>
              <svg style="display: none;">
               <defs>
                  <symbol id="arrow" viewBox="0 0 35 15">
                    <title>Arrow</title>
                    <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                  </symbol>
                </defs>
              </svg>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 about_img">
            <div class="about_img_af">
              <img src="/assets/images/illu.png" alt="">
            </div>   
          </div>
        </div>
      </div>
    </section>

    <section class="pb_section-app bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h2 class="services-key">Why credplus?</h2>
            <p class="feature-subtitle">With easy-to-use features and  functionalities such intuitive workflows, triggers and prompts - Credplus assures quicker employee adoption and faster ROI.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" v-for="(why, i) in answer" :key="i">
            <div :class="why.whyBox">
              <p class="card-number">{{ why.cardNumber }}</p>
              <h3 class="why">{{ why.whyTitle }}</h3>
              <p class="why-text">{{ why.whyText }}</p>
            </div>  
          </div>
        </div>
      </div>
    </section>
    
    <section class="pb_section-key">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 text-center">
            <h2 class="services">Key Features</h2>
            <p class="feature-text">From disbursement to repayments, our intuitives products and services ensure we are delivering value to your business by making loan management seemless.</p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-lg-4 mb-5">
            <img src="/assets/images/mobile.png" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-lg-8 pl-md-5">
            <div class="row">
              <div class="col-lg-12 app ml-5 pl-5" v-for="(feature, i) in features" :key="i">
                <div class="media pb_feature-v2 text-left mb-1 mz-5">
                  <div class="pb_icon d-flex mr-3 align-self-start"><img src="/assets/images/borrow.png"></div>
                  <div class="media-body">
                    <p class="card-number">{{ feature.cardNumber }}</p>
                    <h3 class="mb-2 heading">{{ feature.featureTitle}}</h3>
                    <p class="text-sans-serif pb_font-16">{{ feature.featureText }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="pb_section-app bg-light pb_slant-white">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h2 class="services text-center">How it works</h2>
            <p class="signup-text text-center blacks">Visit <a href="#"><span style="text-decoration-line: underline; text-decoration-style: double;">credplus.co/register</span></a>, input your profile details like your name, email, phone number and sign up as a lender on the platform.</p>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div :class="`col-md-6 col-lg-3 text-center howit-block ${how.steps}`" v-for="(how, i) in works" :key="i">
            <h3 class="mt-2 mb-2 heading">{{ how.steps }}</h3>
            <div class="user-img"><img :src="how.icon" class="svg-img"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="pb_section-app pb_slant-light bg-dark" id="section-faq">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2 class="services-key text-left">Any Questions?</h2>
            <p class="black-light">Your everyday tasks feel light. More time with Borrowers, less time with paper and spreadsheets.</p>
            <div class="fancy">
              <a href="#" class="fancy-btn-inverse">
                <svg class="icon-arrow before">
                  <use xlink:href="#arrow"></use>
                </svg>
                <span class="label white--text">Contact us</span>
                <svg class="icon-arrow after">
                 <use xlink:href="#arrow"></use>
                </svg>
              </a>
              <svg style="display: none;">
               <defs>
                  <symbol id="arrow" viewBox="0 0 35 15">
                    <title>Arrow</title>
                    <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                  </symbol>
                </defs>
              </svg>
            </div>
          </div> 
          <div class="col-md-7">
            <div id="pb_faq" class="pb_accordion" data-children=".item">
              <div class="item">
                <a data-toggle="collapse" data-parent="#pb_faq" href="#pb_faq1" aria-expanded="true" aria-controls="pb_faq1" class="pb_font-22 py-5 faq-title">What is Instant?</a>
                <div id="pb_faq1" class="collapse show" role="tabpanel">
                  <div class="py-5">
                  <p class="faq-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                  </div>
                </div>
              </div>
              <div class="item" v-for="(item, i) in items" :key="i">
                <a data-toggle="collapse" data-parent="#pb_faq" :href="item.itemLink" aria-expanded="false" :aria-controls="item.itemControl" class="pb_font-22 py-5 faq-title">{{ item.itemTitle }}</a>
                <div :id="item.itemId" class="collapse" role="tabpanel">
                  <div class="py-5">
                    <p class="faq-text">{{ item.itemText }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- END section -->
    <section class="pb_section-app bg-light pb_slant-white" id="section-pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h2 class="services text-center">Sign up for Newsletter</h2>
            <p class="signup-text text-center blacks">Be the first to know when we turn on new features. Even much more, get regular insightful content that will guide you on how to run a successful lending business.</p>
            <div class="newsletter text-center">
              <form action="#">
                <input type="#" placeholder="Enter a valid email" required="" />
                <input type="submit" value="Subscribe" />
              </form>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </section>

    <div class="modal fade" id="loginModal" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <b class="modal-text">Enter the email address that you registered with.</b>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="form">
              <form>
                <div class="form-group-modal">
                  <input type="email" placeholder="eg example@credplus.co" id="email" required="">
                </div>
                <div class="text-center top-margin">
                  <button type="submit" class="btn-sign" id="submit">Send <span class="mdi mdi-login"></span></button>
                </div>
              </form>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data: () => ({
    answer: [
      {
        cardNumber: '01',
        whyTitle: 'Seamless borrower experience',
        whyText: 'Credplus gives you the most intuitive portfolio of end-to-end loan management software in an easy to use format that allows your borrowers trust you and gives them the confidence needed to work with you. A powerful tool that allows you to start on-boarding borrowers from day one.',
        whyBox: 'why-box01'
      },
      {
        cardNumber: '02',
        whyTitle: 'Say goodbye to papers',
        whyText: 'Covering the full loan lifecycle – origination, underwriting, tracking, collateral management, loan servicing and portfolio reporting without the mountains of paperwork needed, our solution makes lending easier by reducing your dependency on paperwork, increases transparency and streamlines your operations.',
        whyBox: 'why-box02'
      },
      {
        cardNumber: '03',
        whyTitle: 'Reduced cost to serve',
        whyText: 'Credplus gives you a top level view of all loan relationships and facilities under your purview; calculations, workflows and approvals, analysis and servicing all work together on a single platform.  By eliminating the associated manual processes such as  printing and mailing of documents, Credplus reduces costs and brings inevitable efficiency.',
        whyBox: 'why-box'
      }
    ],
    features: [
      {
        cardNumber: '01',
        featureTitle: 'Borrower onboarding',
        featureText: 'Create loan repayment schedule for your borrowers. Set loan fees, grace period, and penalties all in Credplus.'
      },
      {
        cardNumber: '02',
        featureTitle: 'Repayment plans',
        featureText: 'Sign borrower up on platform and set borrower details including loan terms, loan disbursement schedule, guarantor details, card details and files using credplus.'
      },
      {
        cardNumber: '03',
        featureTitle: 'Borrower Management Suite',
        featureText: 'End to end borrower management functionality for all types of loans and advances on the platform.'
      },
      {
        cardNumber: '04',
        featureTitle: '24/7 Service Supports',
        featureText: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.'
      }
    ],
    works: [
      {
        steps: 'Sign up',
        icon: '/assets/images/account.svg'
      },
      {
        steps: 'Credit',
        icon: '/assets/images/purse.svg'
      },
      {
        steps: 'Disburse',
        icon: '/assets/images/disburse.svg'
      },
      {
        steps: 'Manage',
        icon: '/assets/images/dashboard.svg'
      }
    ],
    items: [
      {
        itemTitle: 'Is this available to my country?',
        itemText: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.',
        itemId: 'pb_faq2',
        itemLink: '#pb_faq2',
        itemControl: 'pb_faq2'
      },
      {
        itemTitle: 'How do I use the features of Instant App?',
        itemText: 'Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.',
        itemId: 'pb_faq3',
        itemLink: '#pb_faq3',
        itemControl: 'pb_faq3'
      },
      {
        itemTitle: 'How much do the Instant App cost?',
        itemText: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.',
        itemId: 'pb_faq4',
        itemLink: '#pb_faq4',
        itemControl: 'pb_faq4'
      },
      {
        itemTitle: 'I have technical problem, who do I email?',
        itemText: 'On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.',
        itemId: 'pb_faq5',
        itemLink: '#pb_faq5',
        itemControl: 'pb_faq5'
      }
    ]
  })
}
</script>

<style>
  .howit-block.Manage::after{
    display: none !important;
  }
</style>