<template>
    <div class="login">
        <section class="main-bg">
            <div class="text-center logo">
                <a href="/"><img src="/assets/images/logo.png" class="logo-img"></a>
            </div>
            <div class="form">
                <form >
                    <h1>Login</h1>
                    <div class="form-group-reg">
                        <input type="email" placeholder=" " id="email" required="">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-group-reg">
                        <input type="password" placeholder=" " id="password" required="">
                        <label for="password">Password</label>
                    </div>
                    <div class="text-center top-margin">
                        <button type="submit" class="btn-sign" id="submit">Login to your account <span class="mdi mdi-login"></span></button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="sub">
                    <p>New to Credplus? <a href="/register">Sign Up</a><br><a href="#">Forgot your password?</a></p>
                </div>
            </div>
        </section>
    </div>
</template>