<template>
    <div :class="register">
        <section class="main-bg">
            <div class="text-center logo">
                <a href="/"><img src="/assets/images/logo.png" class="logo-img"></a>
            </div>
            <div class="form">
                <form >
                    <h1>Register</h1>
                    <div class="form-group-reg">
                        <input type="email" placeholder=" " id="email" required="">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-group-reg">
                        <input type="password" placeholder=" " id="password" required="">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-group-reg">
                        <input type="password" placeholder=" " id="password" required="">
                        <label for="password">Repeat Password</label>
                    </div>
                    <div class="form-group-reg">
                        <input type="text" placeholder=" " id="name" required="">
                        <label for="name">Company Name</label>
                    </div>
                    <div class="form-group-reg">
                        <input type="text" placeholder=" " id="username" required="">
                        <label for="username">Company Username</label>
                    </div>
                    <div class="form_subtitle">
                      <p>.credplus.co</p><br>
                    </div>
                    <div class="form-group-reg">
                        <input type="text" placeholder=" " id="address" required="">
                        <label for="address">Company Address</label>
                    </div>
                    <div class="form-group-reg">
                        <input type="tel" placeholder=" " id="phonenumber" required="">
                        <label for="phonenumber">Company Phone Number</label>
                    </div>
                    <div class="form_subtext">
                      <p>Do you have a paystack account? You need a paystack account to send money to borrowers.</p>
                    </div>
                    <div class="text-center bottom-margin">
                        <button type="submit" class="btn-sign" id="submit">Register <span class="mdi mdi-login"></span></button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="sub">
                    <p>You have an account with Credplus? <a href="/login">Sign In</a></p><br>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
  // data: () => ({
  //   fill: [
  //     {
  //       inputType: 'email',
  //       id: 'email',
  //       labelFor: 'email',
  //       label: 'Email'
  //     },
  //     {
  //       inputType: 'password',
  //       id: 'password',
  //       labelFor: 'password',
  //       label: 'Password'
  //     },
  //     {
  //       inputType: 'password',
  //       id: 'password',
  //       labelFor: 'password',
  //       label: 'Repeat Password'
  //     },
  //     {
  //       inputType: 'text',
  //       id: 'name',
  //       labelFor: 'name',
  //       label: 'Company Name'
  //     },
  //     {
  //       inputType: 'text',
  //       id: 'username',
  //       labelFor: 'username',
  //       label: 'Company Username'
  //     },
  //     {
  //       inputType: 'text',
  //       id: 'address',
  //       labelFor: 'address',
  //       label: 'Company Address'
  //     },
  //     {
  //       inputType: 'tel',
  //       id: 'phonenumber',
  //       labelFor: 'phonenumber',
  //       label: 'Company Phone Number'
  //     }
  //   ]
  // })
}
</script>

<style>
    .pb_navbar.register {
      display: none;
    }
</style>