<template>
    <footer id="footer" class="section-bg" v-if="this.$route.path !== '/login' && this.$route.path !== '/register'">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-title">
              <img src="/assets/images/logo.png">
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-title">
              <h3 class="footer-heading">Contact</h3>
              <p class="footer-text">hello@credplus.co</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-title">
              <h3 class="footer-heading">Address</h3>
              <p class="footer-text">33, Queens Street, <br> Hughes Avenue, <br> Off Alagomeji, Yaba Lagos</p>
            </div>
            
          </div>
          <div class="col-md-3">
            <div class="footer-title">
              <h3 class="footer-heading">Connect with us</h3>
              <ul id="social">
                <li><a href="#"><img src="/assets/images/facebook.svg" class="social-icons" title="Follow us on facebook"></a></li>
                <li><a href="#"><img src="/assets/images/twitter.svg" class="social-icons" title="Follow us on twitter"></a></li>
                <li><a href="#"><img src="/assets/images/linkedin.svg" class="social-icons" title="Follow us on linkedin"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row legal ">
          <div class="col-md">
           <p>You agree to use our website for legitimate purposes and not for any illegal or unauthorized purpose, including without limitation, in violation of any intellectual property or privacy law. By agreeing to the Terms, you represent and warrant that you are at least the age of majority in your state or province of residence and are legally capable of entering into a binding contract. You agree to not use our website to conduct any activity that would constitute a civil or criminal offence or violate any law. You agree not to attempt to interfere with our website’s network or security features or to gain unauthorized access to our systems. You agree to provide us with accurate personal information, such as your email address, mailing address and other contact details in order to complete your order or contact you as needed. You agree to promptly update your account and information. You authorize us to collect and use this information to contact you in accordance with our Privacy Policy.</p>
          </div>
        </div>
        <div class="row copyright">
          <div class="col-md credits">
            &copy;2019 Credplus | All Rights Reserved
          </div>
          <div class="col-md credits-right">
           Powered by <a href="#">Creplus</a>
          </div>
        </div>
      </div>
    </footer>
</template>

<script>
export default {
   
}
</script>