<template>
    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar" v-if="this.$route.path !== '/login' && this.$route.path !== '/register'">
      <div class="container">
        <a class="navbar-brand" href="Home"><img src="assets/images/logo.png"></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" data-toggle="modal" data-target="#loginModal" href="/login" target="_blank"><span class="pb_rounded-4 px-4">Login</span></a></li>
          </ul>
        </div> 
      </div>
    </nav>
</template>

<script>
export default {
   
}
</script>