<template>
  <v-app>
    <Loader/>
    <Navbar/> 
    <v-content>
      <router-view></router-view>
    </v-content>
    <Footer/>
  </v-app>
</template>

<script>
import Loader from './components/Loader.vue'
import Navbar from './components/Navbar.vue'
import Footer from './components/Footer.vue';

export default {
  name: 'App',

  components: {
    Loader,
    Navbar,
    Footer,
  },

  data: () => ({
    //
  }),
};
</script>
